@import 'tailwindcss';
@plugin '@tailwindcss/forms';
@plugin '@tailwindcss/typography';
@plugin 'tailwindcss-motion';

.onest {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

.inter {
  font-family: "Onest", sans-serif;
  font-optical-sizing: auto;
  font-weight: 400;
  font-style: normal;
}

@layer utilities {

  
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  
  .no-scrollbar {
    -ms-overflow-style: none;
    
    scrollbar-width: none;
    
  }
}